*, *::before, *::after {
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    background-color: #FAFAFA;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
    color: black;
}

.main-nav ul {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 1rem;
    list-style: none;

}

/*.main-nav a{
    display: flex;
    align-items: center;
    color: inherit;
    text-decoration: wavy;
    padding:1 rem;
}
*/
.main-nav a:hover {
    color: #FF8B8B;
}







